.carousel-item img{
    height: 500px;
    object-fit: cover;
}

.fle{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title{
    background-color: rgb(236, 240, 236);
    height: 20vh;
    padding-top: 50px;

}